/*variables*/

:root {
    --secondary: #FFC636;
    --primary: #0A0B5B;
}

/* reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li,
a {
    list-style: none;
    text-decoration: none;
}

/* base Styles */

body {
    background: var(--primary);
    overflow-x: hidden;
    font-family: 'PlayfairDisplay', serif;
}

.button {
    background: none;
    border: 2px solid var(--secondary);
    color: var(--secondary);
    border-radius: 10px;
    padding: 10px 20px;
    text-transform: uppercase;
    box-shadow: 1px 2px 3px rgba(0.0.0, 0.6);
    display: inline-block;
    cursor: pointer;
}

.button:hover {
    background: var(--secondary);
    color: var(--primary);
    box-shadow: 1px 2px 3px rgba(0.0.0, 0.2);
    cursor: pointer;
}

input,
textarea {
    background: rgba(255, 255, 255, 0.05);
    padding: 8px 12px;
    border-radius: 20px;
    border: 2px solid #9893D8;
    color: white;

}

/* fonts */

@font-face {
    font-family: 'PlayfairDisplay';
    src: url(fonts/PlayfairDisplay-VariableFont_wght.woff2);
}

h1,
h2,
h3,
h4 {
    color: #DDDBFF;
    font-weight: normal;
}

p,
li,
a {
    color: #9893D8;
}

h1,
h3 {
    font-size: 1.2em;
}

h2 {
    font-size: 1.6em;
}

h4 {
    font-size: 1.1em;
}

.leading {
    font-size: 1.1em;
}

img {
    width: 100%;
    max-width: 150px;
    border-radius: 100px;
    box-shadow: 1px 2px 3px rgba(0.0.0, 0.2);
}

.game-logo img {
    max-width: 300px;
    border-radius: 500px;
}

/* mobile styles */

/* tablet styles */
@media screen and (min-width: 620px) {}

/* large tablet styles */
@media screen and (min-width: 960px) {
    body {
        font-size: 18px;
    }
}

/* desktop styles */
@media screen and (min-width: 1200px) {

    body {
        font-size: 20px;
    }
}

.members {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.members a {
    text-align: center;
    /* background-color: grey; */
    padding: 20px;
}

/* print styles */