/*variables*/

:root {
    --secondary: #FFC636;
    --primary: #0A0B5B;
}

/* reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li,
a {
    list-style: none;
    text-decoration: none;
}

/* base Styles */

body {
    background: var(--primary);
    overflow-x: hidden;
    font-family: 'PlayfairDisplay', serif;
}

.button {
    background: none;
    border: 2px solid var(--secondary);
    color: var(--secondary);
    border-radius: 30px;
    padding: 10px 20px;
    text-transform: uppercase;
    box-shadow: 1px 2px 3px rgba(0.0.0, 0.6);
    display: inline-block;
    cursor: pointer;
}

.button:hover {
    background: var(--secondary);
    color: var(--primary);
    box-shadow: 1px 2px 3px rgba(0.0.0, 0.2);
    cursor: pointer;
}

input,
textarea {
    background: rgba(255, 255, 255, 0.05);
    padding: 8px 12px;
    border-radius: 20px;
    border: 2px solid #9893D8;
    color: white;

}

/* fonts */

@font-face {
    font-family: 'PlayfairDisplay';
    src: url(fonts/PlayfairDisplay-VariableFont_wght.woff2);
}

h1,
h2,
h3,
h4 {
    color: #DDDBFF;
    font-weight: normal;
}

p,
li,
a {
    color: #9893D8;
}

h1,
h3 {
    font-size: 1.2em;
}

h2 {
    font-size: 1.6em;
}

h4 {
    font-size: 1.1em;
}

.leading {
    font-size: 1.1em;
}

.members>a>img {
    /* float: left; */
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 100px;
    box-shadow: 1px 2px 3px rgba(0.0.0, 0.2);
}

.game-logo {
    /* float: left; */
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 25px;
    box-shadow: 1px 2px 3px rgba(0.0.0, 0.2);
}

.social>li>a>img {
    width: 40px;
    height: 40px;
    object-fit: cover;
}

/* mobile styles */

.grid {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
}

.site-nav {
    margin: 0 20px;
}

.site-nav h1 {
    grid-column: 1/4;
    grid-row: 1;
    padding-bottom: 10px;
    border-bottom: 3px solid var(--secondary);
}

.site-nav ul {
    display: none;
}

#welcome {
    padding: 20px;
}

.welcome-text {
    grid-column: 1/6;
}

.welcome-img {
    grid-column: 6/9;
}

.welcome-img img {
    width: 200%;
}

.welcome-text a {
    margin: 20px 0;
}


/* tablet styles */
@media screen and (min-width: 620px) {}

/* large tablet styles */
@media screen and (min-width: 960px) {
    body {
        font-size: 18px;
    }
}

/* desktop styles */
@media screen and (min-width: 1200px) {

    body {
        font-size: 20px;
    }
}

/* print styles */